#frontPage 
{
    
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#front-page {
    text-align: center;
    background-color: #8bc53f;
    height: 100%;
}

.pageLayout {
    
    background-color: #8bc53f !important;
    height: 100%;
}

.pageLayout .ui-panel-wrapper 
{   
    background-color: #8bc53f !important;
    height: 100%;
}

#panelWhite {
    background: #FFFFFF;
    max-width: 260px;
    margin: 15px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

#btnLogin:hover
{
    background-color: dimgray;
}

#btnRegister:hover 
{
    background-color: dimgray;
}

#topPanel {
    background: #FFFFFF;
    margin: 5px;
    height: 90px;
    padding: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
  
}

#signUp
{
    height: 100%;
    width: 100%;
    object-fit:contain;
}

#login {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#regPanel 
{
    background: #FFFFFF;
    margin: 5px;
    height: auto;
    padding: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

#logPanel {
    background: #FFFFFF;
    margin: 5px;
    height: auto;
    padding: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}
